{% extends 'twitter_app/base.html' %}

{% block content %}
<div class="jumbotron" style='background-color:white; padding-left:19px;padding-bottom:48px;' >
    <h1>{{author}} think</h1>
  </div>
    <br>
    <div class="well-lg">
      {% for word,ids in words %}
        {% if word in user_words %}<a href="/profile/{{ids}}">{{word}}</a>{% else %}{{word}}{% endif %}

      {% endfor %}

      {% if authenticated %}
      {% if is_user_liked %}
      <a href="/profile/{{author_id}}/tweet/{{tweet.id}}/?like=likeit" class="btn btn-default" role="button"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a>  {{likes}}
      {% else %}
      <a href="/profile/{{author_id}}/tweet/{{tweet.id}}/?like=likeit" class="btn btn-default" role="button"><span class="glyphicon glyphicon-heart
glyphicon" aria-hidden="true"></span></a>  {{likes}}
      {% endif %}
      {% endif %}
      </div>
      <br>

{% endblock %}
