{% extends 'twitter_app/base.html' %}

{% block content %}
<style>
  .my-thumb{
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
  }
</style>
<div class="jumbotron" style='background-color:white; padding-left:19px;padding-bottom:29px;' >
    <h1>Users</h1>
  </div>

  <div class="container">
    <div class="row">
        {% for user in users %}
        <div class="col-lg-3 col-md-6 col-xs-6 thumb">
                <a class="thumbnail" href="/profile/{{user.user.id}}">
                    <img src="{{user.avatar.url}}" alt="">
                    <div class="my-thumb">{{user.user.username}}</div>
                </a>

        </div>
        {% endfor %}
    </div>

  </div>


{% endblock %}
